vending_machine.cache/* linguist-vendored
vending_machine.hw/* linguist-vendored
vending_machine.ip_user_files/* linguist-vendored
vending_machine.runs/* linguist-vendored
vending_machine.xdc linguist-vendored
vending_machine.xpr linguist-vendored
vending_machine_behav.wcfg linguist-vendored
